{% extends 'base.html.twig' %} {% block title %}Edit Event{% endblock %} {% block body %}
<h1 class="text-center">Edit Event</h1>
<a class="btn btn-dark" href="{{ path('app_event_index') }}">Back to Home</a>
<div>
    {{ include('event/_form.html.twig', {'button_label': 'Change Event'}) }} {# <a class="btn btn-outline-dark" href="{{ path('app_event_index') }}">Back to Home</a> #}

</div>


{% endblock %}